.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1em;
  padding: 1em;
  font-family: sans-serif;
  border: 3px solid black;
  border-radius: 30px;
}
.container-list ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}